In [13]:
import pandas as pd
from tabulate import tabulate

Train Data Frame

In [14]:
train = pd.DataFrame({
    'Train Name': pd.Series(dtype='string'),
    'ID': pd.Series(dtype='string'),
    'Departure location' : pd.Series(dtype = 'string'),
    'Departure Date': pd.Series(dtype='datetime64[ns]'),
    'Departure Time': pd.Series(dtype='string'),
    'Destination location': pd.Series(dtype='string'),
    'Destination Date': pd.Series(dtype='datetime64[ns]'),
    'Destination Time': pd.Series(dtype='string'),
    'Seats Available': pd.Series(dtype='int8'),
    'Price per Seat' : pd.Series(dtype='int8')
})

Customer Data Frame

In [26]:

customer = pd.DataFrame({
    'Name': pd.Series(dtype='string'),
    'Password/Key': pd.Series(dtype='string'),
    'Train Name': pd.Series(dtype='string'),
    'Departure location' : pd.Series(dtype = 'string'),
    'Departure Date': pd.Series(dtype='datetime64[ns]'),
    'Departure Time': pd.Series(dtype='string'),
    'Destination location': pd.Series(dtype='string'),
    'No. of Seats Booked': pd.Series(dtype='int8'),
    'Amount Paid' : pd.Series(dtype='int8')
})

customer

Empty DataFrame
Columns: [Name, Password/Key, Train Name, Departure location, Departure Date, Departure Time, Destination location, No. of Seats Booked, Amount Paid]
Index: []

In [16]:
train = pd.DataFrame({
    'Train Name': ['Rajdhani Express', 'Shatabdi Express', 'Duronto Express', 'Garib Rath', 'Tejas Express'],
    'ID': ['RJ123', 'SH456', 'DU789', 'GR321', 'TJ654'],
    'Departure location': ['New Delhi', 'Mumbai', 'Kolkata', 'Chennai', 'Bangalore'],
    'Departure Date': pd.to_datetime(['2025-03-20', '2025-03-21', '2025-03-22', '2025-03-23', '2025-03-24']),
    'Departure Time': ['06:00 AM', '07:30 AM', '08:45 PM', '10:15 PM', '05:00 AM'],
    'Destination location': ['Mumbai', 'Ahmedabad', 'Delhi', 'Hyderabad', 'Chennai'],
    'Destination Date': pd.to_datetime(['2025-03-21', '2025-03-21', '2025-03-23', '2025-03-24', '2025-03-24']),
    'Destination Time': ['09:30 AM', '01:00 PM', '06:15 AM', '05:30 AM', '10:45 AM'],
    'Seats Available': [120, 95, 50, 200, 75],
    'Price per Seat': [2500, 1800, 2200, 1500, 3000]
})

train

,Train Name,ID,Departure location,Departure Date,Departure Time,Destination location,Destination Date,Destination Time,Seats Available,Price per Seat
0,Rajdhani Express,RJ123,New Delhi,2025-03-20,06:00 AM,Mumbai,2025-03-21,09:30 AM,120,2500
1,Shatabdi Express,SH456,Mumbai,2025-03-21,07:30 AM,Ahmedabad,2025-03-21,01:00 PM,95,1800
2,Duronto Express,DU789,Kolkata,2025-03-22,08:45 PM,Delhi,2025-03-23,06:15 AM,50,2200
3,Garib Rath,GR321,Chennai,2025-03-23,10:15 PM,Hyderabad,2025-03-24,05:30 AM,200,1500
4,Tejas Express,TJ654,Bangalore,2025-03-24,05:00 AM,Chennai,2025-03-24,10:45 AM,75,3000

Function to See customer Booking Data

In [17]:
def viewBooking():
  print("Enter your name")
  name = input()
  print("Enter your key")
  key = input()
  match = customer[(customer['Name'] == name) & (customer['Password/Key'] == key)]
  if(match.empty):
    print("Invalid Credentials")
    menu()
  print(tabulate(match, headers='keys', tablefmt='grid'))
  menu()

Functions to see train data based on Date/Time, Location, TrainID

In [18]:
def viewTrains():
  print("chose filter")
  print("1. Date")
  print("2. Location")
  print("3. Train ID")

  choice = int(input("Enter your choice: "))
  print()

  if(choice == 1):
    SearchDate()
  elif(choice == 2):
    SearchDestination()
  elif(choice == 3):
    SearchTrainID()
  else:
    print("Invalid Choice")
    viewTrains()

In [19]:
def SearchDate():
  print("Enter the date in YYYY-MM-DD format")
  date = input()
  date = pd.to_datetime(date)
  match = train[(train['Departure Date'] == date) | (train['Destination Date'] == date)]
  if(match.empty):
    print("No Trains Available")
    return
  print(tabulate(match, headers='keys', tablefmt='grid'))
  print()
  print("Enter 1 to book a ticket")
  print("Enter any key to go back to main menu")
  choice = input()
  if(choice == '1'):
    bookTicket()
  else:
    menu()

In [20]:
def SearchDestination():
  print("Enter the destination")
  destination = input()
  match = train[(train['Departure location'] == destination) & (train['Destination location'] == destination)]
  if(match.empty):
    print("No Trains Available")
    return
  print(tabulate(match, headers='keys', tablefmt='grid'))
  print()
  print("Enter 1 to book a ticket")
  print("Enter any key to go back to main menu")
  choice = input()
  if(choice == '1'):
    bookTicket()
  else:
    menu()

In [21]:
def SearchTrainID():
  print("Enter the train ID")
  trainID = input()
  match = train[(train['ID'] == trainID)]
  if(match.empty):
    print("No Trains Available")
    return
  print(tabulate(match, headers='keys', tablefmt='grid'))
  print()
  print("Enter 1 to book a ticket")
  print("Enter any key to go back to main menu")
  choice = input()
  if(choice == '1'):
    bookTicket()
  else:
    menu()

Function to book a ticket

In [22]:
def bookTicket():
  global customer
  print("Enter your name")
  name = input()
  print("Enter your key")
  key = input()

  if key in customer['Password/Key'].values:
    print("This key already exists. Create a different key")
    bookTicket()

  print("Enter Booking Date (YYYY-MM-DD format only)")
  date = input()
  date = pd.to_datetime(date)
  print("Enter Booking Time (HH:MM AM/PM format only)")
  time = input()
  print("Enter Train Name")
  trainName = input()
  print("Enter Departure location")
  trainLocation = input()
  print("Enter No. of Seats (maximum seat booking limit is 30)")
  seats = int(input())
  match = train[(train['Train Name'] == trainName) & (train['Departure Time'] == time) & (train['Departure Date'] == date) & (train['Departure location'] == trainLocation)]

  if(match.empty):
    print("Train not available")
    menu()

  match = match[match['Seats Available'] >= seats]
  if(match.empty):
    print("Seats not available")
    print(f"Total available seats: {match['Seats Available']}")
    menu()

  elif(seats > 30):
    print("Booking limit exceeded")
    menu()

  else:
    print("Confirm Booking (y/n)")
    confirm = input()
    if(confirm != 'y'):
      menu()
    train.loc[(train['Train Name'] == trainName) & (train['Departure Time'] == time) & (train['Departure Date'] == date) & (train['Departure location'] == trainLocation), 'Seats Available'] -= seats
    price = match['Price per Seat']

    new_data = pd.DataFrame([{'Name': name, 'Password/Key': key, 'Train Name': trainName, 'Departure location' : trainLocation,'Departure Date': date,'Departure Time': time,'Destination location': match['Destination location'], 'No. of Seats Booked': seats, 'Amount Paid': seats*price}])
    customer = pd.concat([customer, new_data], ignore_index=True)

    print()
    data = customer[(customer['Name'] == name) & (customer['Password/Key'] == key)]
    print(tabulate(data, headers='keys', tablefmt='grid'))
    print()
    print("Ticket Booked Successfully")
  menu()

Function to delete a booking

In [23]:


def deleteTicket():
  global customer
  global train
  print("Enter your name")
  name = input()
  print("Enter your key")
  key = input()
  match = customer[(customer['Name'] == name) & (customer['Password/Key'] == key)]

  if(match.empty):
    print("Booking Not Avaialable")
    menu()

  else:
    print("Enter number of seats")
    seats = int(input())


    if(seats > match['No. of Seats Booked']):
      print("Number of seats exceed total booked")
      menu()

    elif(match['No. of Seats Booked'] - seats == 0):
      ind = match.index
      customer = customer.drop(ind)
      print("Ticket Deleted Successfully")

    else:
      customer.loc[(customer['Name'] == name) & (customer['Password/Key'] == key), 'No. of Seats Booked'] -= seats
      train.loc[(train['Train Name'] == match['Train Name']) & (train['Departure Time'] == match['Departure Time']) & (train['Departure Date'] == match['Departure Date']) & (train['Departure Location'] == match['Departure Location']), 'Seats Available'] += seats
      print()
      data = customer[(customer['Name'] == name) & (customer['Password/Key'] == key)]
      print(tabulate(data, headers='keys', tablefmt='grid'))
      print()
      print("Ticket Deleted Successfully")


  menu()

In [24]:
def menu():
  print("Choose from the following tasks")
  print("1. View Booking details")
  print("2. View Trains Details")
  print("3. Book ticket")
  print("4. Delete ticket")
  print("5. Exit")

  choice = int(input("Enter your choice: "))
  print()

  if(choice == 1):
    viewBooking()
  elif(choice == 2):
    viewTrains()
  elif(choice == 3):
    bookTicket()
  elif(choice == 4):
    deleteTicket()
  elif(choice == 5):
    exit
  else:
    print("Invalid Choice")
    menu()

In [25]:
menu()

Choose from the following tasks
1. View Booking details
2. View Trains Details
3. Book ticket
4. Delete ticket
5. Exit
Enter your choice: 3

Enter your name
Saahity Bansal
Enter your key
pass123
Enter Booking Date (YYYY-MM-DD format only)
2025-03-20
Enter Booking Time (HH:MM AM/PM format only)
06:00 AM
Enter Train Name
Rajdhani Express
Enter Departure location
New Delhi
Enter No. of Seats (maximum seat booking limit is 30)
10
Confirm Booking (y/n)
y

/usr/local/lib/python3.11/dist-packages/tabulate/__init__.py:827: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  conv(string)
/usr/local/lib/python3.11/dist-packages/tabulate/__init__.py:1232: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  return format(float(val), floatfmt)

+----+----------------+----------------+------------------+----------------------+---------------------+------------------+-------------------------------------------+-----------------------+---------------+
|    | Name           | Password/Key   | Train Name       | Departure location   | Departure Date      | Departure Time   | Destination location                      |   No. of Seats Booked |   Amount Paid |
+====+================+================+==================+======================+=====================+==================+===========================================+=======================+===============+
|  0 | Saahity Bansal | pass123        | Rajdhani Express | New Delhi            | 2025-03-20 00:00:00 | 06:00 AM         | 0    Mumbai                               |                    10 |         25000 |
|    |                |                |                  |                      |                     |                  | Name: Destination location, dtype: object |                       |               |
+----+----------------+----------------+------------------+----------------------+---------------------+------------------+-------------------------------------------+-----------------------+---------------+

Ticket Booked Successfully
Choose from the following tasks
1. View Booking details
2. View Trains Details
3. Book ticket
4. Delete ticket
5. Exit
Enter your choice: 2

chose filter
1. Date
2. Location
3. Train ID
Enter your choice: 1

Enter the date in YYYY-MM-DD format
2025-03-20
+----+------------------+-------+----------------------+---------------------+------------------+------------------------+---------------------+--------------------+-------------------+------------------+
|    | Train Name       | ID    | Departure location   | Departure Date      | Departure Time   | Destination location   | Destination Date    | Destination Time   |   Seats Available |   Price per Seat |
+====+==================+=======+======================+=====================+==================+========================+=====================+====================+===================+==================+
|  0 | Rajdhani Express | RJ123 | New Delhi            | 2025-03-20 00:00:00 | 06:00 AM         | Mumbai                 | 2025-03-21 00:00:00 | 09:30 AM           |               110 |             2500 |
+----+------------------+-------+----------------------+---------------------+------------------+------------------------+---------------------+--------------------+-------------------+------------------+

Enter 1 to book a ticket
Enter any key to go back to main menu
k
Choose from the following tasks
1. View Booking details
2. View Trains Details
3. Book ticket
4. Delete ticket
5. Exit
Enter your choice: 1

Enter your name
Saahitya Bansal
Enter your key
pass123
Invalid Credentials
Choose from the following tasks
1. View Booking details
2. View Trains Details
3. Book ticket
4. Delete ticket
5. Exit
Enter your choice: 1

Enter your name
Saahity Bansal
Enter your key
pass123

/usr/local/lib/python3.11/dist-packages/tabulate/__init__.py:827: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  conv(string)
/usr/local/lib/python3.11/dist-packages/tabulate/__init__.py:1232: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  return format(float(val), floatfmt)

+----+----------------+----------------+------------------+----------------------+---------------------+------------------+-------------------------------------------+-----------------------+---------------+
|    | Name           | Password/Key   | Train Name       | Departure location   | Departure Date      | Departure Time   | Destination location                      |   No. of Seats Booked |   Amount Paid |
+====+================+================+==================+======================+=====================+==================+===========================================+=======================+===============+
|  0 | Saahity Bansal | pass123        | Rajdhani Express | New Delhi            | 2025-03-20 00:00:00 | 06:00 AM         | 0    Mumbai                               |                    10 |         25000 |
|    |                |                |                  |                      |                     |                  | Name: Destination location, dtype: object |                       |               |
+----+----------------+----------------+------------------+----------------------+---------------------+------------------+-------------------------------------------+-----------------------+---------------+
Choose from the following tasks
1. View Booking details
2. View Trains Details
3. Book ticket
4. Delete ticket
5. Exit
Enter your choice: 5

+--------+----------------+--------------+----------------------+------------------+------------------+------------------------+-----------------------+---------------+
| Name   | Password/Key   | Train Name   | Departure location   | Departure Date   | Departure Time   | Destination location   | No. of Seats Booked   | Amount Paid   |
+========+================+==============+======================+==================+==================+========================+=======================+===============+
+--------+----------------+--------------+----------------------+------------------+------------------+------------------------+-----------------------+---------------+
Choose from the following tasks
1. View Booking details
2. View Trains Details
3. Book ticket
4. Delete ticket
5. Exit
Enter your choice: 5